{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load i18n %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">
    <link href="/static/" rel="icon">

    <title>Dashboard</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/label/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/login/login.css' %}" rel="stylesheet">

    {% block extraCss %}
    {% endblock %}
</head>
{% block content %}

{% endblock %}
<body >

<div class="d-flex flex-column bd-highlight mb-3">
  <div class="p-2 bd-highlight">  <p class="text-justify font-weight-bold" > Благодарим вас за время, проведенное на этом сайте.</p>
  </div>
  <div class="p-2 bd-highlight">
  <a href="{% url 'login' %}"><button type="button" class="btn btn-outline-primary btn-primary btn-block">Войти снова</button></a>
  </div>
</div>
</html>
