{% extends   "label/base_menu.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block extraCss %}
<link href="{% static 'label/css/chatbox.css' %}" rel="stylesheet">

{% endblock %}

{% block content %}

<main class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4" role="main">
    <div class="row">

            <div class="container-fluid  p-3 ">
              <div class="card">
                <div class="card-header">
                  <h3 class="display-6">{{ ticket.title }}</h3>
                </div>
                <div class="card-body">
                  <p class="card-text lead">{{ ticket.content }}.</p>
                </div>
              </div>

                <!-- <h1 class="display-6">{{ ticket.title }}</h1>
                <div class="alert alert-info" role="alert">
                  <p class="lead">{{ ticket.content }}</p>
                  </div> -->
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Статус заявки: {{ ticket.getStatus }}</li>
                    <li class="list-group-item">Департамент:{{ ticket.groups }}</li>
                    <li class="list-group-item">Дата создания:{{ ticket.data_created }}</li>
                </ul>
                <hr class="my-4">

                {% if is_role == 'manager' %}
                <a class="btn btn-outline-primary btn-block" href="{% url 'ticket_form_update' ticket.pk %}"
                role="button">Изменить заявку</a>
                <a class="btn btn-outline-primary btn-block" href="{% url 'ticket_chats_view' ticket.pk %}"
                role="button">Чат</a>
                {% elif is_role == "autor" %}
                <a class="btn btn-outline-primary btn-block" href="{% url 'ticket_chats_view' ticket.pk %}"
                role="button">Чат</a>
                {% else %}
                    {% crispy forms_anon %}
                {% endif %}

            </div>
    </div>
    {% endblock %}

    {% block contentJs %}
    {% endblock %}
