{% extends   "label/base_menu.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block extraCss %}
<link href="{% static 'label/css/chatbox.css' %}" rel="stylesheet">

{% endblock %}

{% block content %}

<main class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4" role="main">
    <div class="row">

            <div class="container-fluid  p-3 ">
              <div class="card">
                <div class="card-header">
                  <h3 class="display-6">{{ ticket.title }}</h3>
                </div>
                <div class="card-body">
                  <p class="card-text lead">{{ ticket.content }}.</p>
                </div>
              </div>

                <!-- <h1 class="display-6">{{ ticket.title }}</h1>
                <div class="alert alert-info" role="alert">
                  <p class="lead">{{ ticket.content }}</p>
                  </div> -->
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Статус заявки: {{ ticket.getStatus }}</li>
                    <li class="list-group-item">Департамент:{{ ticket.groups }}</li>
                    <li class="list-group-item">Дата создания:{{ ticket.data_created }}</li>
                </ul>
                <hr class="my-4">
                {% if ticket.getStatus == 'Отправленно на доработку' and is_role == "autor"  %}
                                      <div class="alert alert-info" role="alert">
                        Ваша заявка отправленна на доработку. Пожалуста измените содержания по коментариям в чате.
                      </div>
                <a class="btn btn-outline-primary btn-block" href="{% url 'ticket_form_update' ticket.pk %}"
                role="button">Изменить заявку</a>
                {% endif %}

                {% if ticket.getStatus == "Закрыта" %}
                  <div class="alert alert-info" role="alert">
                        Заявка закрыта
                  </div>
                {% elif is_role == 'autor' %}
                <a class="btn btn-outline-primary btn-block" href="{% url 'ticket_chats_view' ticket.pk %}"
                role="button">Чат</a>
                
                {% elif is_role == 'maneger' %}
                <a class="btn btn-outline-primary btn-block" href="{% url 'ticket_chats_view' ticket.pk %}"
                role="button">Чат</a>
                {% else %}
              <form id="form_app" action="{% url 'chat_user_update' ticket.pk %}" method="post">
                  {% crispy form_anon  %}
              </form>
                {% endif %}

            </div>
    </div>
    {% endblock %}

    {% block contentJs %}
    <script>
    function getCookie(name) {
  let matches = document.cookie.match(new RegExp(
    "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
  ));
  return matches ? decodeURIComponent(matches[1]) : undefined;
};

    form_app.onsubmit = async (e) => {
    e.preventDefault();
    let response = await fetch('{% url 'chat_user_update' ticket.pk %}', {
      method: 'POST',
      body: new FormData(form_app),
      headers: {
          'x-xsrf-token': getCookie('csrftoken'),
        },
    });
    document.location.reload(true);
  };
</script>

    {% endblock %}
